*{
    padding:0;
    margin:0;

}
body{
    box-sizing: border-box;
}
header{
    background-color: rgb(59, 44, 44);
    padding:1rem;

}
header h1{color: rgb(205, 65, 33);
    margin-left: 6rem;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header p{
    color: white;
    text-align: center;
    padding-top: 10px;
}
header nav{
    margin-left: 6rem; 
   
}
header nav ul{
    display: flex;
    font-size: 20px;
    list-style-type:none;
    margin: 10px;
}

header nav ul li a{
    background-color:rgb(24, 237, 24) ;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
   

}
header nav ul li a:hover{
    background-color: rgb(245, 37, 37);

}
 a#home1{
    background-color: rgb(204, 107, 32);
}
 a#home1:hover{
    background-color :rgb(245, 37, 37);
}
ul{
list-style-type: none;
}
#home1:active{
    background-color:rgb(128, 162, 240);
}

h2{
    color:green;
    margin-bottom: 20px;
    margin-top:20px
    
}
#sponsors li{
    margin-bottom: 20px;
}
#sponsors li a{
    color:black;
    text-decoration: none;
}
#sponsors li a:hover{
    color:green;
}
#sidebar{
    flex-basis:300px;
}
#Sidebarmenu li a{
    font: normal 12px / 1.8em Arial, Helvetica, sans-serif; ;
}
#Sidebarmenu li a:hover{
     color:green;
}
.mainc2{
    display: flex;
    flex-direction: row;
    gap:25px;
    padding:0 150px;
}
#mainbar{
    flex:1 1 70%;
}
#sidebar{
    flex:1 1 30%;
}
p{
    font: normal 12px / 1.8em Arial, Helvetica, sans-serif;
}
.div2{
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: rgb(35, 35, 35);
    color:white; 
    padding:0 150px; 
}
.upper{
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap:5px;
}
.lower{
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap:5px;
}
p a{
    color:green;
    text-decoration:underline;
}
#aboutcollection img{
    float:left;
    padding: 5px;
}
p a{
    color: green;
}
footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    color:white;
    padding: 0 150px;
    gap: 300px;
}
footer nav ul{
    display:flex;
    text-decoration: none;
    gap: 20px;
    justify-content: right;
}
footer li a:hover{
   color: green;
}